/* --- 푸터 (흰색 배경) --- */
.white-footer { 
    background: var(--white); 
    padding: 60px 0; 
    border-top: 1px solid #eee; }
.footer-flex { 
    display: flex; 
    justify-content:space-between; 
    align-items: center;  }
.footer-logo img { 
    width: 300px; }
.footer-info { flex: 1; 
    margin: 0 150px; 
    color: #888; 
    font-size: 1rem; 
    line-height: 1.6; }
.footer-contact strong { 
    display: block; 
    font-size: 1.1rem; 
    color: var(--black); 
    margin-top: 5px; }
@media (max-width: 480px) {
    /* 컨텐츠 레이아웃 조정 */
    .hero-section { height: 350px; padding-top: 70px; }
    .footer-flex { flex-direction: column; text-align: center; gap: 30px; }
    .footer-info { margin: 0; }
    .side-quick-menu { display: none; }

    /* --- 반응형 대응 --- */

    .app-hero-flex { flex-direction: column; text-align: center; }
    .hero-text h1 { font-size: 2.2rem; }
    .hero-image { margin-top: 50px; }
    .phone-mockup { transform: rotate(0); width: 250px; height: 500px; }
    .footer-contact { flex-direction: column; gap: 20px; }
}